<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<%- include leftPanel %>
    	<div class="effect-panel-box">
			<!-- <ul>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00008/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00008.png">
							</div>
							<div class="effect-panel-content">
								<span>JS 小球称重</span>
								<ul>
									<li class="border-first"><p>利用 JS 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00009/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00009.png">
							</div>
							<div class="effect-panel-content">
								<span>JS网格(九宫格)手风琴</span>
								<ul>
									<li class="border-first"><p>利用 JS 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00001/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00001.png">
							</div>
							<div class="effect-panel-content">
								<span>高光导航</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的径向渐变 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00002/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00002.png">
							</div>
							<div class="effect-panel-content">
								<span>渐变打字效果</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的阴影 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00003/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00003.png">
							</div>
							<div class="effect-panel-content">
								<span>模拟地图定位样式</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的运动和CSS伪类 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00004/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00004.png">
							</div>
							<div class="effect-panel-content">
								<span>银色质感文字</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的运动和渐变 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00005/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00005.png">
							</div>
							<div class="effect-panel-content">
								<span>访客头像列表</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的缩放运动 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00006/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00006.png">
							</div>
							<div class="effect-panel-content">
								<span>CSS3时钟</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的旋转和JS定时器 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="/note/A00007/index.html" target="_blank">
							<div class="effect-panel-img">
								<img src="/images/note/A00007.png">
							</div>
							<div class="effect-panel-content">
								<span>CSS3翻牌效果</span>
								<ul>
									<li class="border-first"><p>利用 CSS3的旋转 实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
								

			</ul> -->
		</div>
		<div class="effect-page-box">
			<a class="prev" href="###" style="display:none;"><i>←</i></a>
            <a class="next" href="###" style="display:none;"><i>→</i></a>
        </div>
  	</div><!-- rightCont end -->


<%- include footer %>