<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="left-menu">
    		<ul>
                <li>
                	<a href="###"><span class="media-all media-1"></span><span>所有效果 </span></a>
                </li>
                <li>
                	<a href="###"><span class="media-all media-1"></span><span>所有效果 </span></a>
                </li>
                <li>
                	<a href="###"><span class="media-all media-1"></span><span>所有效果 </span></a>
                </li>
            </ul>
    	</div>
    	
    	<div class="effect-panel-box">
			<ul>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://assets.jq22.com/plugin/pc-1c138ce6-8ce0-11e4-9ef7-00163e001348.jpg">
							</div>
							<div class="effect-panel-content">
								<span>jquery宽屏图片切换</span>
								<ul>
									<li class="border-first"><p>用jquery+html5实现</p></li>
									<li class="border-last"><p>H 2345</p><p>T 2014/12/28</p></li>
								</ul>
							</div>
							<div class="effect-panel-bg">
							</div>
						</a>
					</div>
				</li>

			</ul>
		</div>
		<div class="effect-page-box">
			<a class="prev" href="###"><i>←</i></a>
            <a class="next" href="###"><i>→</i></a>
        </div>
  	</div><!-- rightCont end -->


<%- include footer %>