<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="left-menu">èœå•</div>
    	<div class="effect-panel-box">
			<ul>
				<li class="effect-panel-border">
					<div class="effect-panel">
						<a href="###" target="_blank">
							<div class="effect-panel-img">
								<img src="http://dzx3.lsve.net/data/attachment/block/0a/0a746b8e18a450d27eb07825a2fc8956.jpg">
							</div>
							<div class="effect-panel-content">
								<span>123123</span>
								<ul>
									<li>1</li>
									<li class="border-center">2</li>
									<li>3</li>
								</ul>
							</div>
						</a>
					</div>
				</li>
				
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
			</ul>
		</div>
  	</div><!-- rightCont end -->


<%- include footer %>