<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="fl-grid">
    		<div class="fl-width-1-6">
    			<div class="left-menu">菜单</div>
    		</div>
    		<div class="fl-width-5-6">
    			<div class="effect-panel-box">
    				<ul>
    					<li class="effect-panel-border">
    						<div class="effect-panel">
	    					asdasd
	    					</div>
    					</li>
    					<li class="effect-panel-border">
    						<div class="effect-panel">
	    					asdasd
	    					</div>
    					</li>
    				</ul>
    			</div>
    		</div>

    	</div>
  	</div><!-- rightCont end -->


<%- include footer %>