<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="left-menu">èœå•</div>
    	<div class="effect-panel-box">
			<ul>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>

				<li class="effect-panel-border">
					<div class="effect-panel">
					asdasd
					</div>
				</li>
			</ul>
		</div>
  	</div><!-- rightCont end -->


<%- include footer %>