        <div class="tm-footer">
            <div class="uk-container uk-container-center uk-text-center">
                ©2014 由<font style="color:#71c400">Yves[461836324@qq.com]</font>开发<br />
                <a style="color:#71c400" href="https://github.com/coolfishstudio/cloud-forum/issues" target="_blank" rel="nofollow">问题反馈</a> | <a style="color:#71c400" href="https://github.com/coolfishstudio/cloud-forum/blob/master/CHANGELOG.md" target="_blank" rel="nofollow">更新日志</a><br />
                京ICP备14019006号
            </div>
        </div>

        <a href="javascript:void(0)" id="goTop" class="uk-button" data-uk-smooth-scroll><i class="uk-icon-chevron-up"></i></a>

    </body>
</html>
<script type="text/javascript">
$(function(){
	$(window).scroll(function(){
        if ($(window).scrollTop()>200){
            $("#goTop").fadeIn(300);
        }else{
            $("#goTop").fadeOut(200);
        }
    });

});
</script>