<div class="panel mb10 panel_border h60 uk-vertical-align uk-text-center">
    <a href="/" class="uk-button uk-button-large uk-button-success uk-vertical-align-middle"><i class="uk-icon-home"></i>&nbsp;返回首页</a>
</div>