<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>IT酷鱼网 | 技术交流平台</title>
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/uikit.min.js"></script>
    </head>
    <body class="tm-background">
	    <nav class="tm-navbar uk-navbar uk-navbar-attached">
	        <div class="uk-container uk-container-center">
	            <a class="uk-navbar-brand uk-hidden-small" href="/"><img src="images/logo.png" width="35px"/><font style="font-size:1.2em;margin-left:10px;color:#fff">IT酷鱼网 | 技术交流平台</font></a>
	            <ul class="uk-navbar-nav uk-hidden-small">
	                <li class="uk-active"><a href="/">首页</a></li>
	            </ul>
	            <a href="#tm-offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
	            <div class="uk-navbar-brand uk-navbar-center uk-visible-small"><a href="/"><font style="font-size:0.9em;margin-left:10px;color:#ddd">IT酷鱼网</font></a></div>

	        </div>
	    </nav>
	    <div id="tm-offcanvas" class="uk-offcanvas">

	        <div class="uk-offcanvas-bar">

	            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav="{multiple:true}">
	            	<li class="uk-nav-header" style="padding:10px;"><img src="images/logo.png" width="25px"/><font style="font-size:1.2em;margin-left:10px;color:#ddd">IT酷鱼网 | 技术交流平台</font></li>
	                <li><a href="/">首页</a></li>
	            </ul>
	        </div>
	    </div>