<!DOCTYPE html>
<html>
  <head>
    <title>IT酷鱼网</title>
    <link rel='stylesheet' type="text/css" href='/css/style.css' />
  </head>
  <body>
  	<div class="top-bar"><!-- topBar -->
  		<span class="logoName"><i class="icon-cloud"></i> IT 酷鱼网</span>
  	</div><!-- topBar end -->