<!DOCTYPE html>
<html>
  <head>
    <title>IT酷鱼网</title>
    <link rel='stylesheet' type="text/css" href='/css/style.css' />
  </head>
  <body>
  	<div class="top-bar"><!-- topBar -->
  		<span class="logoName"><i class="icon-cloud"></i> IT 酷鱼网</span>
  	</div><!-- topBar end -->
  	<div class="left-bar"><!-- leftBar -->
		<ul class="left-menu">
			<li>首页</li>
			<li>论坛</li>
			<li>特效</li>
			<li>作品</li>
		</ul>
  	</div><!-- leftBar end -->
    <div class="right-content"><!-- rightContent -->
    	<div class="fl-grid">
    		<div class="fl-width-4-6">
    			<div class="right-content-box">
	    			<div class="right-content-slide">幻灯片</div>
	    			<div class="right-content-panel fl-grid">
	    				<div class="fl-width-2-6"><div class="index-panel">1</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">2</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">3</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">4</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">5</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">6</div></div>
	    			</div>
	    		</div>
    		</div>
    		<div class="fl-width-2-6">
    			<div class="right-content-spit">
	    			<div class="spit-title">吐一吐</div>
	    			<ul class="spit-content">
	    				<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="https://dn-coding-net-production-static.qbox.me/512b2a62-956b-4ef8-8e84-b3c66e71468f.png?imageMogr2/auto-orient/format/png/crop/!300x300a0a0">
			                    <p>cc</p>
			                </a>
			                <div class="spit-content-box">
			                	21313123123123
			                </div>
						</li>
	    				<li>22</li>
	    				<li>33</li>
	    				<li>44</li>
	    				<li>55</li>
	    				<li>66</li>
	    			</ul>
	    		</div>
    		</div>
    	</div>
  	</div><!-- rightCont end -->

  </body>
</html>
