<%- include header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <div class="panel panel_border h88">
                        看帖
                    </div>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <div class="panel panel_border h88">
                        精华
                    </div>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <div class="panel panel_border h88">
                        分享
                    </div>
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    <div class="panel panel_border h88">
                        求助
                    </div>
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    <div class="panel panel_border mb10">
                        <ul class="uk-list uk-list-striped pd5">
                            <li>List item 1</li>
                            <li>List item 2</li>
                            <li>List item 3</li>
                            <li>List item 4</li>
                            <li>List item 5</li>
                            <li>List item 6</li>
                            <li>List item 7</li>
                            <li>List item 8</li>
                            <li>List item 9</li>
                            <li>List item 10</li>
                            <li>List item 11</li>
                            <li>List item 12</li>
                            <li>List item 13</li>
                            <li>List item 14</li>
                            <li>List item 15</li>
                            <li>List item 16</li>
                            <li>List item 17</li>
                            <li>List item 18</li>
                            <li>List item 19</li>
                            <li>List item 20</li>
                        </ul>
                        <div class="pd5">
                            <ul class="uk-pagination ">
                                <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
                                <li class="uk-active"><span>1</span></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><span>...</span></li>
                                <li><a href="#">20</a></li>
                                <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                        

                    </div>
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    <div class="panel mb10 panel_border h268">
                        <div class="uk-panel uk-panel-header pd5">
                            <h3 class="uk-panel-title">用户信息</h3>
                            <div>注册</div>
                            <div>登陆</div>
                            <div>信息</div>
                        </div>


                    </div>
                    <div class="panel mb10 panel_border">
                        <div class="uk-panel uk-panel-header pd5">
                            <h3 class="uk-panel-title">工具</h3>
                            <div>HTML格式化</div>
                            <div>CSS格式化</div>
                            <div>大小写转化</div>
                        </div>
                    </div>
                    <div class="panel mb10 panel_border h88">
                        排名
                        
                    </div>
                    <div class="panel mb10 panel_border h88">
                        友情
                    </div>
                    <div class="panel mb10 panel_border h88">
                        广告
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>

