<%- include header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-large-top uk-margin-large-bottom">
    	<div class="uk-width-medium-5-6 uk-container-center">
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-medium-3-4">
                    幻灯片1/4
                </div>
                <div class="uk-width-medium-1-4 uk-hidden-small">
                    公告热点
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    工具1
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    工具2
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    工具3
                </div>
                <div class="uk-width-1-2 uk-width-large-1-4">
                    工具4
                </div>
            </div>
            <div class="uk-grid" data-uk-grid-margin>
                <div class="uk-width-large-3-4">
                    列表
                </div>
                <div class="uk-width-large-1-4 uk-hidden-small">
                    信息
                </div>
            </div>
        </div>
    </div>
</div>

<%- include footer %>

