  	<div class="left-bar"><!-- leftBar -->
		<ul class="left-menu">
			<li><a href="/">首页</a></li>
			<li><a href="###">论坛</a></li>
			<li><a href="/effect">特效</a></li>
			<li><a href="/opus">作品</a></li>
		</ul>
  	</div><!-- leftBar end -->