<div class="left-menu">
    <ul>
        <li>
            <a href="###"><i class="fa fa-th-large"></i><span>所有效果 </span></a>
        </li>
        <li>
            <a href="###"><i class="fa fa-css3"></i><span>CSS3 </span></a>
        </li>
        <li>
            <a href="###"><i class="fa fa-html5"></i><span>HTML5 </span></a>
        </li>
        <li>
            <a href="###"><i class="fa fa-globe"></i><span>百度地图 </span></a>
        </li>
    </ul>
</div>