  	<div class="left-bar"><!-- leftBar -->
		<ul class="left-menu">
			<li class="active"><a href="/effect">酷</a><span>首页</span></li>
			<li><a href="###"><i class="icon-th"></i></a><span>专题</span></li>
			<!-- <li><a href="###">论坛</a></li> -->
			<!-- <li><a href="###">工具</a></li> -->
			<!-- <li><a href="/opus">作品</a></li> -->
		</ul>
		<ul class="bottom-menu">
			<li><a href="###"><i class="icon-question-sign"></i></a></li>
			<li><a href="###"><i class="icon-font"></i></a></li>
			<li><a href="###"><i class="icon-signin"></i></a></li>
		</ul>
  	</div><!-- leftBar end -->