  	<div class="left-bar"><!-- leftBar -->
		<ul class="left-menu">
			<li class="active"><a href="###">酷</a><span>首页</span></li>
			<li><a href="###">博</a><span>博客</span></li>
			<li><a href="###">论</a><span>论坛</span></li>
			<li><a href="###">应</a><span>应用</span></li>
			<li><a href="###">游</a><span>游戏</span></li>

		</ul>
		<ul class="bottom-menu">
			<li><a href="###"><i class="icon-question-sign"></i></a></li>
			<li><a href="###"><i class="icon-font"></i></a></li>
			<li><a href="###"><i class="icon-signin"></i></a></li>
		</ul>
  	</div><!-- leftBar end -->