<div class="left-panel">
    <div class="cover-img randomMove" style="background-image: url(http://photos.tuchong.com/370762/f/20709549.jpg)"></div>
    <div class="bottom-block">
        <h1>博客</h1>
        <h3>博客笔记，纪录步伐</h3>
        <h6>在这里更好地学习和阅读</h6>
        <a class="btn" href="###">提笔写篇文章</a>
        <!-- <h1>论坛</h1>
        <h3>灌水论坛，乱弹怪谈</h3>
        <h6>在这里更好地灌水和聊天</h6>
        <a class="btn" href="###">提笔发表帖子</a> -->
    </div>
</div>