<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="fl-grid opus">
    		<div class="fl-width-1-1 opus-panel-title">
    			<div>标题</div>
    		</div>
    		<div class="fl-width-3-6">
    			<div class="opus-panel-box">
    				<div class="opus-panel">
    					qwe
    				</div>
    			</div>
    		</div>
    		<div class="fl-width-3-6">
    			<div class="opus-panel-box">
    				<div class="opus-panel">123</div>
    			</div>
    		</div>
    	</div>
  	</div><!-- rightCont end -->


<%- include footer %>