<%- include header %>
<%- include leftBar %>
    <div class="right-content"><!-- rightContent -->
    	<div class="fl-grid">
    		<div class="fl-width-4-6">
    			<div class="right-content-box">
	    			<div class="right-content-slide">幻灯片</div>
	    			<div class="right-content-panel fl-grid">
	    				<div class="fl-width-2-6"><div class="index-panel">1</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">2</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">3</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">4</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">5</div></div>
	    				<div class="fl-width-2-6"><div class="index-panel">6</div></div>
	    			</div>
	    		</div>
    		</div>
    		<div class="fl-width-2-6">
    			<div class="right-content-spit">
	    			<div class="spit-title">吐一吐</div>
	    			<ul class="spit-content">
	    				<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="http://www.coolfishstudio.com/images/face/yves.png">
			                    <p>yves</p>
			                </a>
			                <div class="spit-content-box">
			                	测试
			                </div>
						</li>
	    				<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="http://www.coolfishstudio.com/images/face/default/01.png">
			                    <p>yves</p>
			                </a>
			                <div class="spit-content-box">
			                	测试
			                </div>
						</li>
						<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="http://www.coolfishstudio.com/images/face/default/06.png">
			                    <p>yves</p>
			                </a>
			                <div class="spit-content-box">
			                	测试
			                </div>
						</li>
						<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="http://www.coolfishstudio.com/images/face/default/02.png">
			                    <p>yves</p>
			                </a>
			                <div class="spit-content-box">
			                	测试
			                </div>
						</li>
						<li>
							<a class="spit-user" href="###">
			                    <img title="coding" src="http://www.coolfishstudio.com/images/face/default/11.png">
			                    <p>yves</p>
			                </a>
			                <div class="spit-content-box">
			                	测试
			                </div>
						</li>
	    			</ul>
	    		</div>
    		</div>
    	</div>
  	</div><!-- rightCont end -->


<%- include footer %>