<div class="panel mb10 panel_border">
    <div class="uk-panel uk-panel-header pd5"><!-- 
        <h3 class="uk-panel-title">用户信息</h3> -->
        <div class="uk-tab-center mb10">
            <ul class="uk-tab" data-uk-tab="{connect:'#tab-user-content'}">
                <li class="uk-active"><a href="#">登&nbsp;陆</a></li>
                <li><a href="#">注&nbsp;册</a></li>
            </ul>
        </div>
        <div class="uk-container uk-container-center">
            
            <ul id="tab-user-content" class="uk-switcher uk-margin">
                <li>
                    <div class="uk-form mb10">
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-envelope-o"></i>
                            <input type="text" placeholder="邮箱帐号">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-keyboard-o"></i>
                            <input type="password" placeholder="输入密码">
                        </div>   
                    </div>
                    <button class="uk-button uk-button-success">登&nbsp;陆</button>
                </li>
                <li>
                    <div class="uk-form mb10">
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-envelope-o"></i>
                            <input type="text" id="reg_email" placeholder="邮箱帐号">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-keyboard-o"></i>
                            <input type="password" id="reg_password" placeholder="输入密码">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-retweet"></i>
                            <input type="password" id="reg_passwordRepeat" placeholder="确认密码">
                        </div>
                        <div class="uk-form-icon mb10">
                            <i class="uk-icon-user"></i>
                            <input type="text" id="reg_userName" placeholder="输入昵称">
                        </div>
                        <button class="uk-button uk-button-success" id='regUser'>注&nbsp;册</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
$(function(){
    var email,userName,passWord,passwordRepeat;
    //注册
    $('#regUser').click(function(){

        email = $('#reg_email').val();
        userName = $('#reg_userName').val();
        passWord = $('#reg_password').val();
        passwordRepeat = $('#reg_passwordRepeat').val();
        console.log($('#reg_email').val(),$('#reg_userName').val(),$('#reg_password').val(),$('#reg_passwordRepeat').val());
        console.log(email,userName,passWord,passwordRepeat);
        //校验
        if(changeCheck()){
            $.ajax({
                type: 'POST',
                url: '/signin',
                data: {email : email, userName : userName, passWord : passWord},
                success: function(result){
                    if(0 == result.status){
                        $.UIkit.notify(result.content, {pos:'top-right',status:'success',timeout: 1000});
                    }else{
                        $.UIkit.notify(result.content, {pos:'top-right',status:'danger',timeout: 1000});
                    }
                }
            });
        }
    });

    function changeCheck(){
        var userPatrn = /^(\w|[\u4e00-\u9fa5]){2,10}$/;
        var pwdPatrn = /^(\w){5,10}$/;
        if('' == email){
            $.UIkit.notify('邮箱不能为空', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if('' == userName){
            $.UIkit.notify('昵称不能为空', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(!userPatrn.exec(userName)){
            $.UIkit.notify('昵称只能输入2-10个字母、汉字、数字、下划线', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if('' == passWord || '' == passwordRepeat){
            $.UIkit.notify('密码不能为空', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(passWord != passwordRepeat){
            $.UIkit.notify('密码不相同,请重新输入', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        if(!pwdPatrn.exec(passWord) || !pwdPatrn.exec(passwordRepeat)){
            $.UIkit.notify('密码只能输入5-20个字母、数字、下划线', {pos:'top-right',status:'warning',timeout: 1000});
            return false;
        }
        return true;
    }
});
</script>