<div class="panel mb10 panel_border">
    <div class="uk-panel uk-panel-header pd5 pb10">
        <h3 class="uk-panel-title">酷鱼作品</h3>
        <ul class="uk-grid" data-uk-grid-margin>
			<li class="uk-width-medium-1-3">
				<a class="uk-thumbnail uk-overlay-toggle" href="http://blog.coolfishstudio.com/" title="IT酷鱼网 | 多人博客，讲述自己的故事。" target="_blank" rel="nofollow">
					<div class="uk-overlay">
						<img src="/images/works/nodeblog.png" width="80" height="80" alt="IT酷鱼网 | 多人博客，讲述自己的故事。">
					</div>
				</a>
			</li>
			

		</ul>
    </div>
</div>