*{margin: 0px;padding: 0px;list-style: none;}
html,body{height: 100%;background-color:#F7F6F2;}
a{text-decoration: none;color:#666;}

.fl-grid{overflow: hidden;width: 100%;}
.fl-width-1-1,.fl-width-4-4,.fl-width-5-5,.fl-width-6-6,{width: 100%;float: left;}
.fl-width-1-4{width: 25%;float: left;}
.fl-width-2-4{width: 50%;float: left;}
.fl-width-3-4{width: 75%;float: left;}
.fl-width-1-5{width: 20%;float: left;}
.fl-width-2-5{width: 40%;float: left;}
.fl-width-3-5{width: 60%;float: left;}
.fl-width-4-5{width: 80%;float: left;}
.fl-width-1-6{width: 16.66%;float: left;}
.fl-width-2-6{width: 33.33%;float: left;}
.fl-width-3-6{width: 50%;float: left;}
.fl-width-4-6{width: 66.67%;float: left;}
.fl-width-5-6{width: 83.33%;float: left;}




/* 左侧菜单栏 */
.left-bar{z-index: 889;position: fixed;top: 0px;left: 0;width: 45px;min-height: 450px;background-color: #2f2f2f;border-collapse: separate;bottom: 0;box-shadow: inset 0 0 10px #1d1d1d;}
.left-bar .left-menu{list-style: none;padding: 0;margin: 0;text-align: center;cursor: pointer;}
.left-bar .left-menu li{position: relative;}
.left-bar .left-menu li span{position: absolute;top:6px;right: -55px;display: none;background: #2f2f2f;color: #fff;z-index: 889;border-radius: 5px;padding:10px;font-size: 12px;}
.left-bar .left-menu li span:after{content: "";position: absolute;top:8px;left: -16px;border:8px solid;height:0px;width: 0px;border-color:transparent #2f2f2f transparent transparent;}
.left-bar .left-menu li a{display: block;line-height: 25px;padding: 10px;height: 25px;position: relative;color: #999;transition:.4s all ease;}
.left-bar .left-menu li.active a{background-color: #009966;color: #fff;text-shadow: 0 1px 0 #006600;-webkit-box-shadow: inset 0 0 10px #003300;
-moz-box-shadow: inset 0 0 10px #003300;
box-shadow: inset 0 0 10px #003300;}
.left-bar .left-menu li:hover a{background-color: #00CC99;color: #fff;}
.left-bar .left-menu li:hover span{display: inline-block;}

.left-bar .bottom-menu{list-style: none;padding: 0;margin: 0;text-align: center;cursor: pointer;position: absolute;bottom: 10px;left: 0;width: 100%;}
.left-bar .bottom-menu li a{display: block;font-size: 16px;padding: 10px;height: 16px;position: relative;color: #999;transition:.4s all ease;}
.left-bar .bottom-menu li:hover a{color: #fff;}
/* 右侧内容面板 */
.right-content{margin-left: 45px;min-height: 600px;overflow: hidden;background-color:#F7F6F2;}

.right-content .right-content-box{padding: 20px;}
.right-content-box .right-content-slide{background: #fff;height: 288px;margin: 5px 0;}
.right-content-box .right-content-panel{padding-top: 20px;}
.right-content-box .right-content-panel .index-panel{background: #fff; height: 100px;padding: 10px;}

.right-content .right-content-spit{padding: 20px;}
.right-content-spit .spit-title{border-bottom: 3px #fff solid;padding-bottom: 10px;}
.right-content-spit .spit-content{padding: 10px 0;}
.right-content-spit .spit-content li{margin: 0 0 15px 0;}
.right-content-spit .spit-user{display: block;float: left;}
.right-content-spit .spit-user img{width: 32px; height: 32px;border-radius: 5px;}
.right-content-spit .spit-user p{padding: 0 5px;font-size: 12px;text-align: center;width: 22px; color: #000;}
.right-content-spit .spit-content-box{margin-left: 46px;min-height: 32px;background: #fff;box-shadow: 1px 1px 0 0 #eee;border-radius: 3px;position: relative;border: 1px solid #eee;padding: 10px;font-size: 13px;}
.right-content-spit .spit-content-box:before {margin-top: -16px;bottom: auto;right: auto;top: 28px;left: -6px;position: absolute;content: "";
width: .6em;height: .6em;background-image: none;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);-webkit-transition: background .1s linear;-moz-transition: background .1s linear;transition: background .1s linear;background-color: #fff;border-left: 1px solid #eee;border-bottom: 1px solid #eee;}

/* 首页左侧面板 */
.right-content .left-panel{width: 25%;height: 100%;overflow: hidden;position: fixed;z-index: 888;margin: 0;-webkit-box-shadow: 1px 1px 6px rgba(0,0,0,0.35);-moz-box-shadow: 1px 1px 6px rgba(0,0,0,0.35);box-shadow: 1px 1px 6px rgba(0,0,0,0.35);}
.right-content .left-panel .cover-img{position: absolute;top: -10%;left: -10%;bottom: -10%;right: -10%;width: 120%;height: 120%;background-position: center;background-size: cover;}

.randomMove{
	animation-name: randomMove;
	animation-duration: 20s;
	-webkit-animation-name: randomMove;
	-webkit-animation-duration: 20s;
	animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes randomMove{
	0%{
		-webkit-transform: translate3d(0, 0, 0);
	}
	20%{
		-webkit-transform: translate3d(5%, 0, 0);
	}
	40%{
		-webkit-transform: translate3d(5%, 5%, 0);
	}
	60%{
		-webkit-transform: translate3d(-5%, 5%, 0);
	}
	80%{
		-webkit-transform: translate3d(-5%, -5%, 0);
	}
	100%{
		-webkit-transform: translate3d(0, 0, 0);
	}
}

@keyframes randomMove{
	0%{
		transform: translateY(0);
	}
	100%{
		transform: translateY(10%);
	}
}

/* 用户信息的左侧面板 */


.right-content .effect-panel-box{overflow: hidden;margin-left: 25%;margin-bottom: 50px;}
.effect-panel-box .effect-panel-border{float: left;width: 300px; height: 280px;overflow: hidden;}
.effect-panel-box .effect-panel{background: #fff;margin: 20px 0 0 20px;height: 100%;overflow: hidden;}
.effect-panel-box .effect-panel a{display: block;height: 100%;width: 100%;position: relative;overflow: hidden;}
.effect-panel-box .effect-panel a .effect-panel-img{width:280px;height:178px;overflow: hidden;}
.effect-panel-box .effect-panel a .effect-panel-img img{width:280px;height:178px;}
.effect-panel-box .effect-panel a .effect-panel-content{background: #fff;}
.effect-panel-box .effect-panel a .effect-panel-content span{display: inline-block;height: 30px;line-height: 30px;font-weight: bold;color:#60b7e1;margin: 0 10px;border-bottom: 1px #ccc dotted;width: 260px;}
.effect-panel-box .effect-panel a .effect-panel-content ul{overflow: hidden;margin: 0 3px 10px 3px;}
.effect-panel-box .effect-panel a .effect-panel-content ul li{width: 87px;height: 40px;float: left;text-align: center;}
.effect-panel-box .effect-panel a .effect-panel-content ul li.border-first{width: 181px;}
.effect-panel-box .effect-panel a .effect-panel-content ul li.border-last{border-left: 1px #ccc dotted;}
.effect-panel-box .effect-panel a .effect-panel-content ul li.border-first p{padding: 2px 3px 0px 8px;max-height: 40px;line-height: 20px;text-align: left;font-size: 12px;color:#999;}
.effect-panel-box .effect-panel a .effect-panel-content ul li.border-last p{padding: 1px 3px 0px 5px;max-height: 40px;text-align: left;font-size: 12px;color:#999;line-height: 20px;}
.effect-panel-box .effect-panel a .effect-panel-bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(255,255,255,0);transition:.4s all ease;}
.effect-panel-box .effect-panel a:hover .effect-panel-bg{background: rgba(255,255,255,0.5);}

.effect-page-box{width: 260px;height:60px;margin: 0 auto 80px auto;padding-left:100px;}
.effect-page-box a.next{width:60%;}
.effect-page-box a.prev{width:30%;}

.effect-page-box a{height: 100%;background-color: #ccc;border-radius: 5px;position: relative;display: inline-block;transition:.4s all ease;}
.effect-page-box a i{width: 24px;height:24px;position: absolute;top:50%;left:50%;margin-top: -12px;margin-left: -12px;text-align: center;line-height: 24px;transition:.4s all ease;}

.effect-page-box a:hover{background: #333;}
.effect-page-box a.next:hover i{left:80%;color:#fff;}
.effect-page-box a.prev:hover i{left:20%;color:#fff;}

/* 作品 */
.opus .opus-panel-title{width: 100%;height: 120px;background: #bbb;}
.opus .opus-panel-box{padding: 60px;}
.opus .opus-panel{background: #fff;border-radius: 5px;border: 1px #eee solid;}
