a{text-decoration:none;color: #666;}
a:hover{color: #666;}
body{background: #e2e2e2;background-image: url('../images/bg.png');}

.tm-navbar{
	background:#2b2b2b;
	padding-top:5px;
	padding-bottom: 5px;
	border-bottom: 3px solid #71c400;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
	box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
}
.tm-navbar .uk-navbar-toggle{
	color: #666;
}
#goTop{
	display: none;
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.tm-footer{
	background: #2b2b2b;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 3px solid #71c400;
	-webkit-box-shadow: 0 -3px 6px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 -3px 6px rgba(0, 0, 0, .175);
	box-shadow: 0 -3px 6px rgba(0, 0, 0, .175);
}

.panel{
	width: 100%;
	background: #fff;
	-webkit-box-shadow: 0 0 3px #9B9B9B;
	-moz-box-shadow: 0 0 3px #9B9B9B;
	box-shadow: 0 0 3px #9B9B9B;
}
.panel_border{
	border-top: 5px solid #2b2b2b;
}
.pd5{
	padding: 5px;
}
.pd10{
	padding: 10px;
}
.mb10{
	margin-bottom: 10px;
}
.pb10{
	padding-bottom: 10px;
}
.h268{
	height:268px;
}
.h80{
	height:80px;
}
.h60{
	height:60px;
}
.ads li{
	padding-bottom: 5px;
}
.tag_btn{
	line-height: 60px;
	position: relative;
	overflow: hidden;
}
.tag_btn i{
	position: absolute;
	bottom: -10px;
	right: -5px;
	font-size: 65px;	
}
.tag_btn b{
	position: absolute;
	left: 15px;
	font-size: 30px;
}
.tag_text{
	color: #CC9933;
	background: #FFFFCC;	
}
.tag_star{
	color: #3399CC;
	background: #CCFFFF;
}
.tag_send{
	color: #339966;
	background: #CCFFCC;
}
.tag_help{
	color: #CC3366;
	background: #FFCCFF;
}
.uk-badge-black{
	background-color: #222;
	background-image: -webkit-linear-gradient(top,#666666,#222);
	background-image: linear-gradient(to bottom,#666666,#222);
}

.card_list li{height: 40px;line-height: 40px;}
.card_list li:hover{background: #eee;}
.card_list li a{width: 100%;height: 100%;display: inline-block;}
.card_list .uk-badge{padding: 2px;margin:2px;}
.card_list .card_list_image img{margin:0 2px 0 2px;height: 40px;border: 1px solid #ddd; padding: 2px;background: #fff;border-radius: 50%;}
.card_list .card_list_num code{padding: 2px;margin:2px;}
.card_list .card_list_title{font-size: 18px;}
.card_list .card_list_user img{margin:0 2px 0 2px;height: 20px;border-radius: 5px;}

.topic_title{font-weight: bold;}
.topic_time{font-size: 13px;color:#999;}
.topic_box{padding: 0 10px 10px 10px; }