a{text-decoration:none;}

.tm-navbar{
	background:#35383b;
	padding-top:5px;
	padding-bottom: 5px;
}
.tm-navbar .uk-navbar-toggle{
	color: #666;
}


.tm-footer{
	background: #35383b;
	padding-top: 10px;
	padding-bottom: 10px;
}

