<%- include header %>
<div class="tm-middle">
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">
                <ul class="uk-tab uk-tab-left" data-uk-tab="{connect:'#tab-left-content'}">
                    <li class="uk-active"><a href="#">关于项目</a></li>
                    <li><a href="#">关于技术</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
            <div class="tm-main uk-width-medium-3-4">
                <article class="uk-article">
                    <ul id="tab-left-content" class="uk-switcher">
                        <li class="uk-active">
                            <h1 class="uk-article-title">关于项目</h1>
                            <hr class="uk-article-divider">
                            
                        </li>
                        <li>
                            <h1 class="uk-article-title">关于技术</h1>
                            <hr class="uk-article-divider">
                        </li>
                        <li>
                            <h1 class="uk-article-title">关于我们</h1>
                            <hr class="uk-article-divider">
                        </li>
                    </ul>

                </article>

            </div>
        </div>

    </div>
</div>
<%- include footer %>
