<div class="panel mb10 panel_border">
    <div class="uk-panel uk-panel-header pd5">
        <h3 class="uk-panel-title">排名</h3>
        <ul class="uk-list">
            <li>1.阿三</li>
            <li>2.法院</li>
            <li>3.fwsf</li>
            <li>4.ghfh</li>
            <li>5.5mo56k</li>
            <li>6.cro</li>
            <li>7.0023</li>
            <li>8.43kjdf</li>
            <li>9.234c</li>
        </ul>
    </div>
</div>